
<div class="container px-5 px-sm-0">
  <div class="row">
    <!--新規投稿用画面は_listファイル-->
    <div class="col-md-3">
      <%= render'books/list',book:@book %>
    </div>

    <!--投稿された本一覧画面-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover">
        <thred>
          <tr>
            <th></th>
            <th><strong>Title</strong></th>
            <th><strong>Opinion</strong></th>
            <th></th>
          </tr>
        </thred>

        <tbody>
          <tr>
            <td>
              <!--ユーザー詳細に飛ぶリンク-->
              <%= attachment_image_tag @user,:profile_image,:fill,40,40,fallback:"no_image.jpg",size:'40x40' %>
              <!--ここにend-->
            </td>
            <td>
              <%= @show_book.title %>
            </td>
            <td>
              <%= @show_book.opinion %>
            </td>
            <td>
              <!--以下に編集、削除のリンク-->
              <% if @show_book.user == current_user %>
                <%= link_to "削除",book_path(@show_book),method: :delete %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
