
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <!--ここを直す-->
      <%= render 'books/list',book:@book,user:@user %>
    </div>

    <!--投稿された本一覧画面-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag @show_book.user,:profile_image,:fill,100,100,fallback:"NoImage.jpg",size:'100x100' %><br />
              <%=link_to @show_book.user.name,user_path(@show_book.user) %>
            </td>
            <td>
              <%= link_to @show_book.title,book_path(@show_book) %>
            </td>
            <td>
              <%= @show_book.body %>
            </td>
            <td>
              <% if @show_book.user == current_user %>
              <td>
                <%= link_to "Edit",edit_book_path(@show_book),class:'btn btn-sm btn-success' %>
              </td>
              <td>
                <%= link_to "Destroy",book_path(@show_book),method: :delete,class:'btn btn-sm btn-danger',data:{confirm:'本当に消しますか？'} %>
              </td>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
